
.booking-form {
  height: 319px;
  width: 330px;
  border: 1px solid #e1e7ed;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  padding: 30px;
  position: sticky;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  float: right;

  @media screen and (max-width: 345px) {
    width: auto;
  }

  @media screen and (max-width: 840px) {
    float: none;
    position: relative;
    top: 0;
    left: calc(50% - 165px);
  }
  
  &__price {
    margin-bottom: 23px;
  }
  
  &__input {
  border: 1px solid #e1e7ed;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  display: block;
  height: 50px;
  right: 0;
  left: 0;
  margin-top: 16px;
  padding-left: 10px;
  }

  &__button {
    background-color: #fd5c63;
    border-radius: 4px;
    color: white;
    display: block;
    height: 50px;
    margin-top: 24px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
    outline: none;
    :focus {
      background-color: #d9db61;

    }

    &:hover {
      background-color: white;
      color: #fd5c63;
    }
  }
}
