
.booking-form {
  height: 319px;
  width: 330px;
  border: 1px solid #e1e7ed;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  padding: 30px;
  position: sticky;
  top: 60px;
  float: right;
  

  &__price {
    font-size: 16px;
    font-family: Avenir, sans-serif;
    line-height: 19px;
    margin-bottom: 23px;

  }
  
  &__input {
  border: 1px solid #e1e7ed;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  display: block;
  height: 50px;
  width: 270px;
  margin: 16px 0;
  }

  &__button {
    background-color: #fd5c63;
    border-radius: 4px;
    color: white;
    display: block;
    height: 50px;
    width: 270px;
    margin-top: 24px;
  }
}
