.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  height: 60px;
  margin: 0;
  background-color: white;
  box-shadow: 0px 1px 0px #e1e7ed;
}
@media screen and (max-width: 450px) {
  .header {
    height: 90px;
    justify-content: center;
  }
}
.header__nav {
  display: flex;
  margin-right: 87px;
  height: 100%;
}
@media screen and (max-width: 450px) {
  .header__nav {
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }
}
.header__logo {
  height: 30px;
  width: 30px;
  position: absolute;
  top: calc(50%-15px);
  left: 26px;
}
.header__link {
  display: block;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: auto 15px;
  text-decoration: none;
}
.header__photo {
  position: absolute;
  right: 19px;
  top: calc(50%-15px);
  width: 30px;
  height: 30px;
  margin: auto 19px auto 23px;
}

.booking-form {
  height: 319px;
  width: 330px;
  border: 1px solid #e1e7ed;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  padding: 30px;
  position: sticky;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  float: right;
}
@media screen and (max-width: 345px) {
  .booking-form {
    width: auto;
  }
}
@media screen and (max-width: 840px) {
  .booking-form {
    float: none;
    position: relative;
    top: 0;
    left: calc(50% - 165px);
  }
}
.booking-form__price {
  margin-bottom: 23px;
}
.booking-form__input {
  border: 1px solid #e1e7ed;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  display: block;
  height: 50px;
  right: 0;
  left: 0;
  margin-top: 16px;
  padding-left: 10px;
}
.booking-form__button {
  background-color: #fd5c63;
  border-radius: 4px;
  color: white;
  display: block;
  height: 50px;
  margin-top: 24px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 20px;
  outline: none;
}
.booking-form__button :focus {
  background-color: #d9db61;
}
.booking-form__button:hover {
  background-color: white;
  color: #fd5c63;
}

.reviews__title {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 34px;
}
.reviews__circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 20px 0 0;
}
.reviews__name {
  font-size: 20px;
  margin: 0;
}
.reviews__date {
  font-size: 14px;
  margin: 0;
}
.reviews__container {
  display: flex;
}
.reviews__subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__review {
  width: 490px;
  height: 120px;
  margin: 13px 0 0;
}
@media screen and (max-width: 490px) {
  .reviews__review {
    width: 100%;
  }
}

.hosted {
  width: 490px;
}
.hosted__title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin: 15px 0 0;
}
.hosted__were {
  font-size: 14px;
  line-height: 16px;
}
.hosted__button {
  width: 150px;
  height: 50px;
  border: 1px solid #118488;
  background-color: white;
  border-radius: 4px;
  color: #118488;
  margin: 25px 0;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.hosted__button:hover {
  background-color: #118488;
  color: white;
}
@media screen and (max-width: 490px) {
  .hosted {
    width: 100%;
  }
}

.footer {
  height: 213px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px -1px 0px #e1e7ed;
  border: 1px solid white;
}
.footer__container {
  display: flex;
  width: 901px;
  margin: 40px auto;
}
@media screen and (max-width: 900px) {
  .footer__container {
    width: 100%;
    padding: 0 10px;
  }
}
.footer__subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer__link {
  text-decoration: none;
  color: #3d4e61;
  line-height: 27px;
}

@font-face {
  font-family: Avenir;
  font-weight: lighter;
  src: url(./fonts/Avenir-Book.ttf);
}
@font-face {
  font-family: Avenir;
  font-weight: normal;
  src: url(./fonts/Avenir-Medium.ttf);
}
@font-face {
  font-family: Avenir;
  font-weight: bold;
  src: url(./fonts/Avenir-Heavy.ttf);
}
body {
  font-size: 16px;
  line-height: 19px;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
  color: #3d4e61;
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}

.content {
  width: 901px;
  margin: 39px auto;
}
@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.content__primary-title {
  font-size: 36px;
  line-height: 42px;
}
.content__condition {
  display: inline-block;
  height: 28px;
  width: 81px;
}
.content__description {
  width: 490px;
  line-height: 24px;
}
@media screen and (max-width: 490px) {
  .content__description {
    width: 100%;
  }
}
.content__links {
  font-weight: bold;
  text-decoration: none;
  color: #3d4e61;
}
.content__subtitle {
  color: #687c94;
}

.amenities__amenity {
  display: inline-block;
  width: 180px;
  margin: 13px 0;
}

.promo {
  width: 100%;
  height: 464px;
  display: block;
  background: url(./images/Image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1439px) {
  .promo {
    padding-top: 32%;
    height: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
